:root {
    --color-dark: #000000;
    --color-primary-text: #757575;
    --color-title-text: #212121;
    --color-white-text: #ffffff;
    --color-action: #2196f3;
    --color-blue-button: #188ce8;
    --color-secondary-button: #f5f4fa;
    --color-white-background: #ffffff;
    --color-secondary-background: #f5f4fa;
    --color-futter-background: #2f303a;
    --color-line-header: #ECECEC;
    --color-line-direction-item: #EEEEEE;
}

.body {
    color: var(--color-primary-text);
    font-family: "Roboto", sans-serif;
    background-color: var(--color-white-background);
    font-size: 14px;
}

.section-title {
    color: var(--color-title-text);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.flex-container{
    display: flex;
    align-items: baseline;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section.no-padding {
    padding-top: 0px;
}

.card-image.no-gap {
    display: block;

}
.thumb-card-image {
    position: relative;   
}
.title-up {
  background-color:rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;

  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white-text);

  min-width: 370px;
  padding: 27px;
}
.header {
    border-bottom: 1px solid var(--color-line-header);
}

.icon {
    margin-right: 10px;
}
.mail {
    width: 16px;
    height: 12px;
}
.phone {
    width: 10px;
    height: 16px;
}
.logo {
    color: var(--color-dark);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.accent {
    color: var(--color-action);
}

.main-nav {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    margin-left: 93px;
}

.auth-nav {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}

.site-nav .item+.item,
.auth-nav .item+.item {
    margin-left: 50px;
}

.site-nav .link {
    color: var(--color-title-text);
    font-weight: 500;
    line-height: 1.15;
    text-decoration: none;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--color-action);
    
}

.auth-nav .link {
    color: var(--color-primary-text);
    font-weight: 500;
    line-height: 1.15;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    height: 16px;
    fill: var(--color-primary-text) ;
    transition-property: color, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link.current {
    position: relative;
    color: var(--color-action);
}
.site-nav a.current::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    display: block;
    content: "";
    height: 4px;
    width: 100%;
    background-color: var(--color-action);
    border-radius: 2px;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--color-action);
    fill: var(--color-action);
    
}

.hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #C4C4C4;
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/Header-image.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
}


.hero-title {
    color: var(--color-white-text);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    margin-top: 0;
    margin-bottom: 30px;
}

.button-hero {
    color: var(--color-white-background);
    background-color: var(--color-action);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border: 1 px solid var(--color-action);
    border-radius: 4px;
    padding-left: 32px;
    padding-right: 32px;
    min-width: 216px;
    min-height: 50px;
    text-align: center;
    font-weight: 700;
    transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover,
.button-hero:focus {
    background-color: var(--color-blue-button);
  
}

.feature-title {
    color: var(--color-title-text);
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
}

.feature-text {
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 0px;
}


.feature-list {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0px;
    display: flex;

}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    transition: opacity250ms cubic-bezier(0.4, 0, 0.2, 1) vis—ñbility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.1);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    min-width: 528px;
    min-height: 581px;

    background-color: #ffffff;

    transform: translate(-50%, -50%) scale(1);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.botton-close {
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 6px;
    background-color: #ffffff;
}
.x-close {
    width: 18px;
    height: 18px;
}
.feature-list .item {
    width: 270px;
    margin-right: 30px;
}


.feature-list .item:last-child {
    margin-right: 0px;
}
.features-container {
    display: flex;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}
.features-icon {
    width: 70px;
    height: 70px;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    margin: -1px;
}
.services-list {
    list-style: none;
    margin-top: 50px;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
}

.services-list .item {
    margin-right: 30px;
}

.services-list .item:last-child {
    margin-right: 0px;
}

.section.team {
    background-color: var(--color-secondary-background);
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-list {
    margin-top: 50px;
    margin-bottom: 0px;
    display: flex;
}
.title-team-position{
    padding-top: 30px;
    padding-bottom: 30px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-list .title {
    color: var(--color-title-text);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    margin-bottom: 10px;
}

.team-position {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 16px;
    
}

.team-list {
    list-style: none;
}
.social-links {
    display: flex;
    justify-content: center;
}

.social-item {
    fill: #AFB1B8;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition-property: background-color, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links li:not(:last-child) {
    margin-right: 9px;
}

.social-item:hover,
.social-item:focus {
    fill: var(--color-white-text);
    background-color: var(--color-action);
    
}

.social-item-footer{
    fill: var(--color-white-text);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        transition-property: background-color, fill;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-item-footer:hover,
.social-item-footer:focus {
    fill: var(--color-white-text);
    background-color: var(--color-action);
   
}
.social-icon {
    width: 20px;
    height: 20px;
}
.employee {
    background-color: var(--color-white-background);
    margin-right: 30px;
}

.employee:last-child {
    margin-right: 0px;
}


.section-team .title {
    padding-bottom: 30px;
    text-align: center;
}

.team-position {
    text-align: center;
}
.clients-list {
    display: flex;
}

.clients-list .link-client {
    display: flex;
    width: 170px;
    height: 92px;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: #AFB1B8;
    transition-property: border, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-client:hover,
.link-client:focus {
    fill: var(--color-action);
    border: 1px solid var(--color-action);
    
}

.clients-list li:not(:last-child) {
    margin-right: 30px;
}

.icon-client {
    width: 106px;
    height: 60px;
}

.footer {
    background-color: var(--color-futter-background);
    padding-top: 60px;
    padding-bottom: 60px;
}

address{
    margin-top: 28px;
}
.social-footer {
    display: flex;
    margin-left: 70px;
}

.social-footer p {
    color: var(--color-white-text);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
}

.item-footer {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    ;
}

.footer-list {
    list-style: none;
    line-height: 24px;
    font-style: normal;
    margin-bottom: 0px;
}
.footer-list li:not(:last-child){
    margin-bottom: 12px;
}
.link-adress {
    color: var(--color-white-text);
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-top: 0px;
    margin-bottom: 9px;
}

.footer .link {
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
    transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .link:hover,
.footer .link:focus {
    color: var(--color-action);
    
}

.accent-wiht {
    color: var(--color-white-text);
}
.button-direction {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.62;
    font-family: inherit;
    list-style: none;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 22px;
    padding-left: 22px;

    transition-property: color, box-shadow, background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.button-direction:hover,
.button-direction:focus {
    color: var(--color-white-text);
    background-color: var(--color-action);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    
    
}

.direction-list {
    list-style: none;
    color: var(--color-white-text);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    justify-content: center;
}

.direction-list .item {
    margin-right: 8px;
}

.direction-list .item:last-child {
    margin-right: 0px;
}

.underline{
    display: block;
    text-decoration: none;
    color: inherit;
    transition-property: box-shadow;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.underline:hover,
.underline:focus
{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
   

}
.projects-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.projects-title {
    color: var(--color-title-text);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-top: 0px;
    margin-bottom: 4px;
}

.projects {
    background-color: var(--color-white-background);
    margin-right: 30px;
    margin-bottom: 30px;
}

.projects:nth-child(3n) {
    margin-right: 0;
}

.projects:nth-last-child(-n + 3) {
    margin-bottom: 0;
}
.projects {
    flex-basis: calc((100% - 2*30px) / 3);
    transition-property: box-shadow;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    
}

.direction {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 0;
}

.direction-item {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-left: 1px solid var(--color-line-direction-item);
    border-right: 1px solid var(--color-line-direction-item);
    border-bottom: 1px solid var(--color-line-direction-item);
}
.portfolio-thumb {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay {
    position: absolute;
    transform: translateY(140%);

    padding: 63px 24px;
    width: 100%;
    height: 100%;

    background-color: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--color-white-text);

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects:hover .portfolio-overlay {
    transform: translateY(-293px);
    }